.section {
  position: relative;
  padding: 32px;
  margin-bottom: 32px;
  background: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  transition: all 200ms ease-in-out;

  .form-group {
    margin-bottom: 0;
  }
}