.item {
  font-size: 1.125rem;
  color: var(--grey-color);
}

.link {
  padding-left: 0 !important;
  font-size: 1.125rem;
  color: var(--grey-color);
}

.active {
  color: var(--blue-color);
}

.submenu {
  padding-left: 20px !important;
}
